---
---
<!DOCTYPE html>
{% include head.html %}
<body>
	{% include navbar.html active="news" %}
	<div class="about-content">
		<h1> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA </h1>
		<p class="news-story">AAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
		<h1> Today's Patches </h1>
		<ul>
			<li>AAAAAAAAAAAAAAAAAA</li>		
			<li>AAAAAAAAAAAAAAAA?</li>
			<li>BUFF: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</li>
			<li>Milk</li>
		</ul>  
	</div>
</body>
<script src="button.js"></script>
<script>
	if (hasItem("Soul")) {
		document.getElementsByClassName("news-story")[0].textContent="You've got blood on your hands, as do I. Did you press the button too?"
	}
</script>
