---
---
<!DOCTYPE html>
{% include head.html %}
<body class="slotsfull">
	{% include navbar.html active="shop" %}
	<div class="open-shop-button">
		<button class="slotbutton" onclick="openShop()">Enter Shop</button>
	</div>
	<div class="shop-content" hidden=true>
		<h1> Item Shop </h1>
		<div id="error-message"></div>
		<h2> Weapon </h2>
		<div class="shopbox">
			<div class="weapon-item">
				<img class="Item: Autoslots" onclick="buyItem('Autoslots')" src="assets/img/Items/Autoslots.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($5) Autoslots </h1>
					<p> Make Button Corp Slots keep playing automatically for 5 minutes. </p>
				</span>
			</div>
			<div class="weapon-item">
				<img class="Item: AutoslotsEX" onclick="buyItem('AutoslotsEX')" src="assets/img/Items/AutoslotsEX.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($35) AutoslotsEX </h1>
					<p> Make Button Corp Slots keep playing automatically for half an hour. </p>
				</span>
			</div>
			<div class="weapon-item">
				<img class="Item: Heartbreak" onclick="buyItem('Heartbreak')" src="assets/img/Items/Heartbreak.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($50) Heartbreak </h1>
					<p> Removes all hearts from the slot machine for 10 minutes. </p>
				</span>
			</div>
			<div class="weapon-item">
				<img class="Item: Peepo" onclick="buyItem('Peepo')" src="assets/img/Items/Peepo2X.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($80) Peepo2X </h1>
					<p> Double the number of Peepos on the slot for 10 minutes. </p>
				</span>
			</div>
		</div>
		<h2> Spirit </h2>
		<div class="shopbox">
			<div class="spirit-item">
				<img class="Item: Soul" onclick="buyItem('Soul')" src="assets/img/Items/Soul.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($1) Soul </h1>
					<p> A fragment of a soul nearly lost. Who knows where it's going? </p>
				</span>
			</div>
			<div class="spirit-item">
				<img class="Item: Eye of the Prophet" onclick="buyItem('Eye of the Prophet')" src="assets/img/Items/Eye of the Prophet.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($50) Eye of the Prophet </h1>
					<p> See the future for a moment. </p>
				</span>
			</div>
		</div>
		<h2> Vitality </h2>
		<div class="shopbox">
			<div class="vitality-item">
				<img class="Item: Jungler" onclick="buyItem('Jungler')" src="assets/img/Items/Jungler.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($40) Jungler </h1>
					<p> Decreases jungle respawn time from 5 minutes to 3 minutes. Lasts 1 hour. </p>
				</span>
			</div>
			<div class="vitality-item">
				<img class="Item: Burn" onclick="buyItem('Burn')" src="assets/img/Items/Burn.png" style="width:15vh;height:15vh;">
				<span class="tooltiptext">
					<h1> ($100) Burn </h1>
					<p> Burns your money. This item does nothing useful. </p>
				</span>
			</div>
		</div>
		<div class="audio-container">
			<!-- Volume Slider -->
			<p color="white">   Music:</p><input type="range" id="musicSlider" class="volume-slider" min="0" max="1" step="0.01" value="0.5">
			<p>Sounds:</p><input type="range" id="sfxSlider" class="volume-slider" min="0" max="1" step="0.01" value="0.5">
		</div>
	</div>
</body>
<script>
var Music = new Audio("assets/audio/Welcome to the Shop.mp3");
window.addEventListener('load', function () {
	// Does the music and sound sliders
	// - Owen
	musicSlider = document.getElementById('musicSlider');
	musicSlider.addEventListener('input', function() {
		Music.volume = this.value;
	});

	sfxSlider = document.getElementById('sfxSlider');
	sfxSlider.addEventListener('input', function() {
		Spin.volume = this.value;
		Click.volume = this.value;
		UnclickSound.volume = this.value;
		Win.volume = this.value;
		CashSound.volume = sfxSlider.value;
		Error.volume = sfxSlider.value;
		OpenShopSound.volume = sfxSlider.value
	});
	Music.volume = musicSlider.value;
	Spin.volume = sfxSlider.value;
	Click.volume = sfxSlider.value;
	UnclickSound.volume = sfxSlider.value;
	Win.volume = sfxSlider.value;
	CashSound.volume = sfxSlider.value;
	Error.volume = sfxSlider.value;
	OpenShopSound.volume = sfxSlider.value

	document.body.onkeyup = function (e) {
		// Makes the space button also roll the slots
		// - Owen
		if (e.key == " " ||
			e.code == "Space" ||
			e.keyCode == 32
		) {
			if (document.getElementsByClassName("slotbutton")[0].disabled == false) {
				DoSpin()
			}
		}
	}
})
</script>
<script src="button.js"></script>
<script>
updateShop()
Music.loop = true
Music.volume = 0.5;
</script>
