@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Righteous&family=Yeseva+One&display=swap');
*{
	margin: 0;
	padding: 0;
}

@keyframes dropIn {
	from {
		transform: translateX(500px);
		opacity: 0;
	}
	to {
		transform:translateX(0);
		opacity: 1;
	}
}

@keyframes buttonClick {
	from {
		transform: scale(0.8);
	}
	to {
		transform:scale(1);
	}
}
@keyframes buttonUnclick {
	from {
		transform: scale(1.3);
	}
	to {
		transform:scale(1);
	}
}

:root {
	--black: #28262C;
	--green: #529573;
	--lightgreen: #62a583;
	--orange: #FF6F59;
	--lightorange: #FF7F69;
	--lavendar: #E2A0FF;
	--cyan: #DDFFF7;
	--white: #ffffff;
}

html{
	background: linear-gradient(135deg, var(--cyan) 0%, var(--lavendar) 100%);
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	color: #28262C;
}

.slotsfull {
	color: var(--white);
	background: var(--black);
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	color: #28262C;
}

.topnav ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
}

.topnav {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-color: var(--black);
}


.topimagediv {
	width: 25vh;
	text-align: left;
}

.topnav img {
	padding: 0px 8px;
}

.bucky {
	width: 25vh;
}

.topnav a {
	float: left;
	color: var(--orange);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	background-color: var(--lavendar);
	color: var(--black);
}

.topnav a.active {
	background-color: var(--orange);
	color: white;
}

.main-content {
	margin: 25vh auto;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.main-content h1{
	margin-bottom: 5vh;
	font-size: 50px;
}

.main-content p{
	margin-bottom: 10vh;
	font-size: 22px;
}

.slots-content{
	margin: 2vh auto;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.slots {
	border-radius: 25px;
	background-color: var(--green);
	margin: auto auto;
	padding: 2vh 2vh;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	animation: dropIn 0.5s ease forwards;
}

.shopbox {
	border-radius: 25px;
	background-color: var(--cyan);
	margin: auto auto;
	padding: 2vh 2vh;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.about-content {
	margin: 25vh;
	width: fit-content;
	font-family: 'Montserrat', sans-serif;
}

.open-shop-button{
	margin: 2vh auto;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
}

.shop-content{
	margin: 2vh auto;
	width: fit-content;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
	animation: dropIn 0.5s ease forwards;
}

.shop-content h1{
	margin-bottom: 5vh;
	font-size: 50px;
}

.shop-content p{
	margin-bottom: 10vh;
	font-size: 22px;
}

.weapon-item {
	position: relative;
	display: inline-block;
}

.weapon-item .tooltiptext {
	visibility: hidden;
	width: 40vh;
	background-color: var(--orange);
	color: var(--black);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	height: fit-content;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -20vh; /* Half of the width */
}

.weapon-item:hover .tooltiptext {
	visibility: visible;
}

.vitality-item {
	position: relative;
	display: inline-block;
}

.vitality-item .tooltiptext {
	visibility: hidden;
	width: 40vh;
	background-color: var(--green);
	color: var(--black);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	height: fit-content;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -20vh; /* Half of the width */
}

.vitality-item:hover .tooltiptext {
	visibility: visible;
}

.spirit-item {
	position: relative;
	display: inline-block;
}

.spirit-item .tooltiptext {
	visibility: hidden;
	width: 40vh;
	background-color: var(--lavendar);
	color: var(--black);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	height: fit-content;

	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -20vh; /* Half of the width */
}

.spirit-item:hover .tooltiptext {
	visibility: visible;
}

.about-content h1{
	margin-bottom: 5vh;
	font-size: 50px;
}

.about-content p{
	margin-bottom: 10vh;
	font-size: 22px;
}

.about-content ul{
	margin-bottom: 10vh;
	font-size: 22px;
}

.button{
	background-color: #529573;
	width: 30vw;
	height: 20vh;
	border-style: none;
	border-radius: 75px;
	box-shadow: 0 8px 16px 0 #28262C30, 0 6px 20px 0 #28262C30;
	cursor: pointer;
	font-size: 50px;
	color: var(--white);
	animation: dropIn 0.5s ease forwards;
	transition: 0.1s;
}

.button:hover{
	background-color: var(--lightgreen);
	width: 35vw;
	transition: 0.1s;
}

.slotbutton{
	background-color: var(--orange);
	margin: 5vh;
	width: 30vw;
	height: 20vh;
	border-style: none;
	border-radius: 75px;
	box-shadow: 0 8px 16px 0 #28262C30, 0 6px 20px 0 #28262C30;
	cursor: pointer;
	font-size: 50px;
	color: #eeeeee;
	animation: buttonUnclick 0.2s ease forwards;
	transition: 0.1s;
}

.slotbutton:hover{
	background-color: var(--lightorange);
	width: 35vw;
	transition: 0.1s;
}

.pressed{
	-webkit-box-shadow: inset 0px 0px 15px #FF6F59;
	-moz-box-shadow: inset 0px 0px 15px #FF6F59;
	box-shadow: inset 0px 0px 15px #FF6F59;
	outline: none;
	background-color: var(--black);
	animation: buttonClick 0.2s ease forwards;
}

.pressed:hover{
	background-color: var(--black);
	cursor: unset;
	width: 30vw;
}

.wintext{
	color: var(--orange);
}

.audio-container {
	display: flex;
	width: fit-content;
	margin: auto auto;
	gap: 10px;
}
.volume-slider {
	width: 150px;
}

#error-message {
	text-align: center;
	color: var(--orange);
	margin: auto;
	width: fit-content;
	font-size: 22px;
}

.SlotImage2Container {
	height: 200px;
	width: 200px;
	display: inline-block;
}

.SlotImage2Container video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
